* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.header {
  background-color: #030e1a;
  color: white;
  padding: 20px;
  text-align: center;
}
.nav {
  background-color: #34495e;
  color: white;
  padding: 15px;
  text-align: center;
}
.contenedor {
  display: flex;
  min-height: 300px;
}
.sidebar {
  background-color: #00ccff;
  width: 30%;
  padding: 20px;
}
.contenido {
  background-color: #0063f8;
  width: 70%;
  padding: 20px;
}
.footer {
  background-color: #021124;
  color: white;
  padding: 15px;
  text-align: center;
}
.mi-imagen {
  width: 200px;
  border-radius: 10px;
}
